<%-include("partials/header")-%>

<div class="container">
  <div class ="row jumbotron about-header">
    <div class= "col-lg-6 col-sm-12">
      <h1 class="about-main-title">Musings</h1>
      <h3 class="about-sub-title">A space for your thoughts</h3>
      </div>
      <div class="col-lg-6 col-sm-12 about-text">
        <h4>The Idea</h4>
        How many times do you feel like having a rush of thoughts to your head? How many times have you remained silent even though you had something to tell? Musings is a place for you. Share your thoughts with many other people anonymously. Your thoughts will be available on the site for 24 hours. Read the thoughts of others and feel them. It's all about sharing to feel better.
        </div>
    </div>
  </div>

  <div class="container about-bottom">
    <p>
      Powered by Pixabay
      </p>
      <a href="https://pixabay.com/">
      <img src="https://pixabay.com/static/img/public/leaderboard_b.png" alt="Pixabay">
  </a>
    </div>

<%-include("partials/footer")-%>
