<%-include("partials/header")-%>
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h1 class="posts-heading">Contact Us</h1>
      <p class="contact-text">
        This is a non  profit project and the only aim is to help people.<br>
        We'd love to hear from you about this project <br />
        For any suggestions,questions, grievances or contributions contact us <br />

        </p>

    </div>
  </div>

  <div class="row contact-buttons align-items-center justify-items-center">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <a href="https://www.github.com/anirudh-kac"><i class="fab fa-github fa-4x"></i></a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <a href="https://www.instagram.com/anirudh_kachroo"><i class="fab fa-instagram fa-4x"></i></a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <a href="https://www.linkedin.com/in/anirudh-kachroo"><i class="fab fa-linkedin fa-4x"></i></a>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <a href="mailto:anirudh-kac@yahoo.com?subject=feedback"><i class="fas fa-paper-plane fa-4x"></i></a>
            </div>
    </div>

  </div>


<%-include("partials/footer")-%>
