<%-include("partials/header")-%>
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h1>Contact Us</h1>
      <p>
        This is a non  profit project and the only aim is to help people.<br>
        We'd love to hear from you about this project <br />
        For any suggestions,questions, grievances or contributions contact us <br />

        </p>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <a href="https://www.github.com/anirudh-kac"><button>Github</button></a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <a href="https://www.github.com/anirudh-kac"><button>Github</button></a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <a href="https://www.github.com/anirudh-kac"><button>Github</button></a>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <a href="https://www.github.com/anirudh-kac"><button>Github</button></a>
            </div>
    </div>

  </div>


<%-include("partials/footer")-%>
