<%-include("partials/header")-%>
<h1 class="posts-heading">Posts</h1>


<div class="container">

<div class="row post-div align-items-center justify-items-center">

<% for(var i=0;i<posts.length;i++) { %>

  <%  if((currentTime-posts[i].time)>86400000){continue;}%>
    <div class="col-lg-5 col-md-12 col-sm-12 post-image-div">
    <img src="<%=posts[i].image%>" alt="image" class="post-image">
    </div>
    <div class="col-lg-7 col-md-12 col-sm-12 post-text-div">
          <p><%=posts[i].text%></p>
      </div>
<% }%>
</div>
  </div>
  </div>




<%-include("partials/footer")-%>
