<%-include("partials/header")-%>
<h1 class="share-heading">Share your thoughts with our community</h1>

<div class="container">
  <div class="row align-items-center justify-items-center">
    <div class ="post-form">
      <form method="post" target="/post">
        Enter the topic or keyword: <br />
        <input type="text" name="keyword" placeholder="What's your thought about?" required/>  <br />
        Pour your thoughts here : <br />
        <textarea name="text" placeholder="Thoughts Please!" required></textarea><br />
        <button type="submit" name="button" class="btn btn-primary btn-large">Submit</button>

        </form>

      </div>

    </div>


  </div>



<%-include("partials/footer")-%>
