/*
color scheme
#222831
#393e46
#00adb5
#eeeeee



    font-family: 'Pacifico', cursive;

    font-family: 'Shadows Into Light', cursive;

    font-family: 'Acme', sans-serif;


*/
body{
  background-color:#00adb5;
}
.navbar-brand{
  font-family: 'Pacifico', cursive;
}

.navbar{
  background-color: #4781a7;
}
.index-text{
  padding-top: 1rem;
  padding-bottom: 5rem;
  background-color: #eeeeee;
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Acme', sans-serif;
  color: #393e46;
}
.title-wrapper{
  background-image:url("ocean.jpg");
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
}
.title{
  text-align: center;
  font-family: 'Pacifico', cursive;
}
.main-title{
  padding-top: 5rem;
  font-size: 7rem;
}
.sub-title{
  font-size: 4rem;
}
.footer {
   padding-top: 70px;
   background-color: #00adb5;
   color: white;
   text-align: center
}

.post-div{
  padding-bottom: 30px;
}

.post-image{
  height:300px;
  width: 350px;
  box-shadow: 3px 3px 3px #393e46;

}
.post-image-div{
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;

}
.post-text-div{
  font-family: 'Shadows Into Light', cursive;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid;
  padding-left: 1rem;
}
.posts-heading{
  font-size: 3.5rem;
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding: 10px 0px 20px;
  border-bottom: 2px solid;

}

.share-heading{
  font-size: 3.5rem;
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding: 10px 0px 20px;
  border-bottom: 2px solid;
}
.post-form{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Acme', sans-serif;
  font-size: 2rem;
  border: 1px solid;
  padding: 30px;
  box-shadow: 3px 3px 3px #393e46;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #eeeeee;
  color: #393e46;
  border-radius: 5%;
}
.about-header{
  margin-top: 30px;
}
.about-bottom{
  text-align: center;
}
.about-main-title{
  font-family: 'Pacifico', cursive;
  font-size: 3.5rem;

}
.about-sub-title{
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  padding-bottom: 40px;
}
.about-text{
    font-family: 'Acme', sans-serif;
    font-weight: lighter;
}
.contact-text{
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 30px;
}
.contact-buttons{
  text-align: center;
}
.contact-buttons i {
  color: #393e46;
  padding-bottom: 30px;
}
